<% title("#{@edition_name} booster") %>

<h1 class="text-center"> <%= @edition_name %> </h1>

<%= form_with url: "/editions/open_booster_pack/", id: "booster_set_select", local: true, method: 'POST' do | f | %> 
  <%= f.label :editions %>
  <%= f.select(:edition, options_for_select( @ordered_editions, selected: params[:edition] || "Revised" ) ) %>

  <%= f.submit 'Generate Booster' %>
<% end %>

<div class="row margin-bottom" >

  <% @booster_pack.each do | card | %>
    <% @foil = roll_foil?(@edition) %>
    <% card.prices = card.foil_prices if @foil %>
    <div class='col-sm-2 filter booster-card'> 
      <span class="deck-show-card-name"> $<%= "#{determine_appropriate_price(@foil ? card.foil_prices : card.prices)}" %> </span>
      <span style='float: right;'> <%= image_tag(get_edition_image_file(card.edition, card.rarity), height: 20) %> </span>

      
      <div>
        <%= link_to image_tag(card.img_url, class: 'hand-card', style: 'position: relative;'), card_path(card.edition, card.name) %>
        <%= image_tag('foil overlay.png', class: "foil-overlay #{card.frame >= 2015 ? 'post-2015-foil' : ''}") if @foil %>
      </div>
    </div>
  <% end %>

</div>

<h3> 
  Estimated pack value: <%= calculate_deck_value(@booster_pack) %> 
</h3>

<p> Note: This is for fun only. This site is not affiliated with WOTC, and does not buy or sell any product. </p>