<% title('Sign up') %>

<h1> Sign Up </h1>

</div>
  <% @user.errors.full_messages.each do | error_message | %>
    <p> <%= error_message %> </p>
  <% end %>
</div>

<%= form_for @user, url: url_for(action: 'create') do | f | %>

  <h5>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </h5>
  
  <h5>
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
  </h5>

  <h5>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </h5>

  <h5>
    <%= f.label :verify_password %>
    <%= f.password_field :password_confirmation, required: true %>
  </h5>
  
  <%= f.submit %>
<% end %>