<% if color_to_mana(params[:filter]) != params[:filter] %>
  <h1 class='text-center'> <%= image_tag "mana_symbols/#{color_to_mana(params[:filter])}", class: "spin" %> </h1>
<% elsif Editions[params[:filter]] %>
  <h1 class='text-center'> <%= image_tag("/assets/editions/#{params[:filter].downcase}", width: '128') %> </h1>
<% else %>
  <h1 class='text-center'> <%= params[:filter] %> </h1>
<% end %>

<% @cards.each do | card | %> 
  <% unless is_modern_or_basic_land?(card) %>
    <h2> <%= card.name %> </h2> 

    <div class = "col-sm-2 filter"> 
      <%= link_to ( image_tag card.img_url, class: "filter-img #{card.edition.downcase}", lazy: true ), card_path(card) %> 
    </div>
  <% end %>
<% end %>