<h1> <center> Find Cards By Property </center> </h1>

<%= form_with url: "/cards/filter_search", class: "find_by_properties", method: 'POST' do | f | %> 
      <div class = "btn-group">
        <%= f.label :reserved_list %>
        <%= f.select(:reserved, options_for_select({'Yes' => true, 'No' => false}), include_blank: true) %> 
        <br>
        <%= f.label :edition %> 
        <%= f.select(:edition, options_for_select( Editions.keys ), include_blank: true) %>
        <br>
        <%= f.label :rarity %>
        <%= f.select(:rarity, options_for_select( ["Common", "Uncommon", "Rare", "Mythic"] ), include_blank: true) %>
        <br>
        <%= f.label :color %> 
        <%= f.select(:color, options_for_select( ["White", "Blue", "Black", "Red", "Green", "Gold", "Colorless"] ), include_blank: true) %>
        <br>
        <%= f.label :type %>
        <%= f.select(:card_type, options_for_select( ["Creature", "Land", "Artifact", "Instant", "Sorcery", "Enchantment"] ), include_blank: true) %> 
        <br>
        <%= f.label :CMC %>
        <%= f.number_field(:converted_mana_cost, min: 0, max: 20) %>
    </div>

    <h1> <%= f.submit "Find Cards", class: "btn-lg" %> </h1>

    <h3>
      <a class = "btn-sm" id = "sort_by_name"> </a>
      <a class = "btn-sm" id = "sort_by_id"> </a>
      <a class = "btn-sm" id = "sort_by_price"> </a>
      <a class = "btn-sm" id = "sort_by_color"> </a>
    </h3>

    <h2 id="find_cards"> </h2>

<% end %>