<div style="margin-left: 5%;">
<h1> <%= card_and_edition(@card.name, @card.edition) %> <%= link_to image_tag("reserved list"), "https://magic.wizards.com/en/articles/archive/official-reprint-policy-2010-03-10", target: "_blank", rel: "noopener" if @card.reserved %> </h1> 

<h4> <%= link_to "Official Gatherer Page", gatherer_link(@card.multiverse_id), target: "_blank", rel: "noopener" %> </h4>

<div class = "row">
    <div class = "col-sm-3 margin-3em-top-bottom" style = 'margin-right: 10%;'> <%= image_tag(@card.img_url, class: "card_show #{@card.edition.downcase}", img_url: @card.hi_res_img, original_src: @card.img_url) %> </div> 

    <div class = 'col-sm-2' style= 'margin-left: 20%;'> <%= image_tag(@card.cropped_img) %> </div> 
</div>

<h4> <%= link_to "MTGoldfish Price:", mtgoldfish_url(@card.name, @card.edition), target: "_blank", rel: "noopener" %> <%= @card.price[0] %> </h4>
<h4> <%= link_to "Card Kingdom Price:", card_kingdom_url(@card.name, @card.edition), target: "_blank", rel: "noopener" %> <%= @card.price[1] %> </h4>
<h4> <%= link_to "TCG Player Median Price:", tcg_player_url(@card.name, @card.edition), target: "_blank", rel: "noopener" %> <%= @card.price[2] %> </h4>

<h2> <%= link_to "Find #{@card.name} on eBay", ebay_search_link(@card.name, @card.edition), target: "_blank", rel: "noopener" %> </h2>
</div>