<% title("#{params[:edition]} - #{params[:name]}") %>

<div class="card_show_page">

  <h1 class='show_page_card_name'> 
    <%= link_to image_tag(edition_image_filename(@card.rarity, @card.edition), id: 'show_page_edition_svg_link'), "/cards/#{@card.edition}" %>
    <span id='name_and_edition'> <%= card_and_edition(@card.name, @card.edition) %> </span>
    <% unless edition_not_present?(@card.other_editions) %>
      <div id='other_editions'>
        <span id='other-editions-text'> Other Editions: </span>  
        <span> <%= display_other_editions(@card) %> </span>
      </div>
    <% end %>
  </h1>

  <h4> 
    <%= link_to "Official Gatherer Page", gatherer_link(@card.multiverse_id), target: "_blank", rel: "noopener noreferrer" %> 
    
    <% if @card.reserved %>
      <%= link_to image_tag("reserved list"), "/cards/reserved_list", id: "reserved-icon" %>
    <% end %>
    
    <% if @card.layout.match?(/split|flip/) %>
      <button id="rotate" class="btn btn-default btn-sm" data-rotate= <%= "#{rotation_angle(@card.year, @card.layout)}" %> >
        Rotate <span class="glyphicon glyphicon-repeat"> </span>
      </button>
    <% end %>

    <% if @card.layout == "transform" %>
      <button id="transform" class="btn btn-default btn-sm">
        Transform <span class="glyphicon glyphicon-refresh"> </span> 
      </button>
    <% end %>
  </h4>

  <div class="row" style='margin-right: 2%;'>

    <% if @card.layout == 'transform' %>
      <%= render partial: 'transform_card', locals: { flip: @flip, card: @card } %>
    <% else %>
      <div class="col-sm-3 margin-3em-top-bottom">
        <%= image_tag(@card.img_url, class: "card_show #{@card.edition.downcase}", id: "card_show_img", hi_res_src: @card.hi_res_img) %> 
        <%= image_tag("/assets/foil overlay", class: generate_show_card_class(@card)) %>
      </div>
    <% end %>

    <div class='col-sm-4'></div>

    <div class='col-sm-3' id='cropped-img-div'>
      <%= image_tag(@card.cropped_img, id: 'cropped-img', reverse_src: @flip&.cropped_img, original_src: @card.cropped_img) %>
      <h3 id='artist-link'> <%= link_to(@card.artist, "/cards/artists/#{@card.artist}") %> </h3>
    </div>
  </div>

  <div id='prices' class='prices-js' data-id=<%= "#{@card.id}" %> data-stale=<%= needs_updating?(@card.updated_at, @card.prices) %> data-foil-prices='<%=@card.foil_prices%>' >

    <% unless @card.foil_prices.empty? %>
      <button id="toggle-foil-js">View foil version</button>
    <% end %>

    <h4 id="mtg-fish"> 
      <%= link_to 'MTGoldfish Price:', CardPriceScraper.mtgoldfish_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class='price'> <%= display_price(@card.prices[0]) %> </span>
    </h4>

    <h4 id="card-kingdom">
      <%= link_to 'Card Kingdom Price:', CardPriceScraper.card_kingdom_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class='price'> <%= display_price(@card.prices[1]) %> </span>
    </h4>

    <h4 id="tcg-player">
      <%= link_to 'TCG Player Market Price:', CardPriceScraper.tcg_player_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class='price'> <%= display_price(@card.prices[2]) %> </span>
    </h4>

    <h2 id="ebayLink">
      <%= link_to "Find #{@card.name} on eBay", ebay_search_link(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %>
    </h2>

  </div>

</div>