<% title("#{params[:edition]} - #{params[:name]}") %>

<div class="card_show_page">

  <h1 class='show_page_card_name'> 
    <%= link_to image_tag(edition_image_filename(@card.rarity, @card.edition), id: 'show_page_edition_svg_link'), "/cards/#{@card.edition}" %>
    <%= card_and_edition(@card.name, @card.edition) %>
    <% unless edition_not_present?(@card.other_editions) %>
      <span id='other_editions'> Other Editions: <%= display_other_editions(@card) %> </span>
    <% end %>
  </h1>

  <h4> 
    <%= link_to "Official Gatherer Page", gatherer_link(@card.multiverse_id), target: "_blank", rel: "noopener noreferrer" %> 
    
    <% if @card.reserved %>
      <%= link_to image_tag("reserved list"), "/cards/reserved_list", style: 'margin-left: 1%' %>
    <% end %>
    
    <% if @card.layout.match?(/split|flip/) %>
      <button id="rotate" class="btn btn-default btn-sm" data-rotate= <%= "#{rotation_angle(@card.year, @card.layout)}" %> >
        Rotate <span class="glyphicon glyphicon-repeat"> </span>
      </button>
    <% end %>

    <% if @card.layout == "transform" %>
      <button id="transform" class="btn btn-default btn-sm" style="margin-left: 1%;">
        Transform <span class="glyphicon glyphicon-refresh"> </span> 
      </button>
    <% end %>
  </h4>

  <div class = "row" style='margin-right: 2%;'>

    <% unless @card.layout == 'transform' %>
      <div class="col-sm-3 margin-3em-top-bottom">
        <%= image_tag(@card.img_url, class: "card_show #{@card.edition.downcase}", id: "card_show_img", img_url: @card.hi_res_img, original_src: @card.img_url) %> 
      </div>
    <% end %>

    <%= render partial: 'transform_card', locals: { flip: @flip, card: @card } if @card.layout == "transform" %>

    <div class='col-sm-4'></div>

    <div class='col-sm-3' id='cropped-img-div'>
      <%= image_tag(@card.cropped_img, id: 'cropped-img', reverse_src: @flip&.cropped_img, original_src: @card.cropped_img) %>
      <h1 style = "font-size: 150%;"> <%= link_to(@card.artist, "/cards/artists/#{@card.artist}") %> </h1>
    </div>
  </div>

  <div id="prices" data-id=<%= "#{@card.id}" %> data-stale= <%= needs_updating?(@card.updated_at, @card.prices) %> >
    <h4 id="mtg-fish"> 
      <%= link_to 'MTGoldfish Price:', mtgoldfish_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class = 'price'> <%= display_price(@card.prices[0]) %> </span>
    </h4>

    <h4 id="card-kingdom">
      <%= link_to 'Card Kingdom Price:', card_kingdom_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class = 'price'> <%= display_price(@card.prices[1]) %> </span>
    </h4>

    <h4 id="tcg-player">
      <%= link_to 'TCG Player Market Price:', tcg_player_url(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %> 
      <span class = 'price'> <%= display_price(@card.prices[2]) %> </span>
    </h4>

    <h2>
      <%= link_to "Find #{@card.name} on eBay", ebay_search_link(@card.name, @card.edition), target: '_blank', rel: 'noopener noreferrer' %>
    </h2>

  </div>

</body>