<%= form_for(deck) do | form | %>

  <div>
    <%= form.label :deck_name, style: 'margin-top: 15px;' %>
    <%= form.text_field :name %>
  </div>

  <br><br>

  <%= fields_for :decks_cards do | dc | %>
    <div>
      <div>
        <%= dc.label :copies %>
        <%= dc.number_field :copies, min: 1, max: 4, value: 1, style: 'margin-bottom: 10px; margin-left: 15px;' %>
      </div>

      <%= dc.label :card %>

      <span style= 'margin-bottom: 10px; margin-left: 30px;'>
        <%= form_with url: '#', method: "GET", local: true, id: 'deckCardSearch' do %>
          <%= text_field_tag :search, params[:search], id: 'deckCardFind', list: 'deckBuildSearch', required: true, autocomplete: 'off', placeholder: 'Add a Card'%>
          <datalist id="deckBuildSearch"> </datalist>
        <% end %>
        <button id='addCard'>Add Card</button>
      </span>

      <div style='margin-top: 55px;'>
        <div style='margin-bottom: 5px;'>
          <%= dc.label :copies %>
          <%= dc.number_field :land_copies, min: 1, max: 24, value: 1, style: 'margin-left: 20px;' %>
        </div>
        
        
        <%= dc.label :basic_land %>
        <%= dc.select(:land_name, options_for_select(['Plains', 'Island', 'Swamp', 'Mountain', 'Forest'])) %>
        <button id="addLand"> Add Basic Land </button>
      </div>

      <div> 
        <%= dc.text_area(:list, style: 'color: black; min-height: 100px; min-width: 200px; margin-top: 50px;') %> 
      </div>
    </div>

  <% end %>
  <button id="createDeck" style='margin-top: 50px;'> Create Deck </button>
<% end %>
