<h1> <%= link_to "<-Home", root_path %> </h1>

<center> <h1> <%= @deck.name %> </h1> </center>
<br>
<center> <h4> Turn 1 </h4></center>
<br>

<div class = "row margin-bottom" >

  <% @sample_hand.each do | card | %>
    <div class = 'col-sm-1 filter'> 
      <div> <%= truncate_at_three_words(card.name) %> </div> 
      <%= image_tag card.img_url, class: 'hand-card' %>
    </div>
  <% end %>

  <div class="hand-odds">
    <h2> Precise hand odds:  </h2>
    <center> 
      <h4> <%= multivariate_hypergeometric_distribution(deck_size = @shuffled_deck_cards.size, cards_drawn = 7, *@multivar_args) %>% </h4>
    </center>
  </div>

  <div class = "stats" >
    <h3> Lands: <%= @stats_hash['lands'] %> </h3>
    <h3> Spells: <%= @stats_hash['spells'] %> </h3>
    <h3> Artifacts: <%= @stats_hash['artifacts'] %> </h3>
    <h3> Creatures: <%= @stats_hash['creatures'] %> </h3>
  </div>

</div>

<div class = "row">
  <center> <h1> Upcoming Cards </h1> </center>
  <br>
  <br>
  <% @next_eight_cards.each.with_index(2) do | card, idx | %>
    <div class = 'col-sm-1 filter'>
      <center> Turn <%= idx %> </center>
      <center> <%= truncate_at_three_words(card.name) %> </center>
        
      <%= image_tag card.img_url,  class: 'hand-card' %>
    </div>
  <% end %>
</div>