<center> <h1> <%= @deck.name %> </h1> </center>
<center> <h4> Turn 1 </h4></center>
<br>

<div class = "row margin-bottom" >

  <% @sample_hand.each do | card | %>
    <div class = 'col-sm-1 filter'> 
      <div class="deck-show-card-name"> <%= truncate_at_three_words(card.name) %> </div> 
      <%= image_tag card.img_url, class: 'hand-card' %>
    </div>
  <% end %>

  <div class = "stats" >
    <h4> Lands: <%= @stats_hash['lands'] %> </h4>
    <h4> Spells: <%= @stats_hash['spells'] %> </h4>
    <h4> Artifacts: <%= @stats_hash['artifacts'] %> </h4>
    <h4> Creatures: <%= @stats_hash['creatures'] %> </h4>
    <h4> Hand Odds: <%= multivariate_hypergeometric_distribution(deck_size = @shuffled_deck_cards.size, cards_drawn = 7, *@multivar_args) %>% </h4>
  </div>

</div>

<div id="chartContainer" style="height: 150px; width: 25%;" data-json = <%= generate_mana_curve_data(@shuffled_deck_cards)%> ></div>

<div class = "row">
  <center> <h1> Upcoming Cards </h1> </center>
  <br>
  <br>
  <% @next_eight_cards.each.with_index(2) do | card, idx | %>
    <div class = 'col-sm-1 filter'>
      <center> Turn <%= idx %> </center>
      <center> <%= truncate_at_three_words(card.name) %> </center>
        
      <%= image_tag card.img_url, class: 'hand-card' %>
    </div>
  <% end %>

  <div id="deck-holder" class="col-sm-2 pad-4" value="8"> 
    <p id="card-counter"> Card 8 of <%= @shuffled_deck_cards.size %> </p>

    <% @shuffled_deck_cards[7..-1].reverse.each.with_index(8) do | card,  idx | %>
      <%= image_tag card.img_url, class: 'deck-display', id: "deck-card-#{idx}" %> 
    <% end %>
  </div>

</div>

<script>
  function graphLoader() {
    const jsonData = $("#chartContainer").data('json')

    const options = {
      backgroundColor: "silver",
      title: {
        text: "Mana Curve"
      },
        axisX:  { 
          lineThickness: 0,
          title: "Number of Cards"
        },
        
        animationEnabled: true,
      
        data: [
          {
            type: "spline", //line, area, column, pie, etc
            color: "#096e30",
            lineThickness: 3,
            dataPoints: jsonData
          }
        ]
      };
    $("#chartContainer").CanvasJSChart(options);
  };
  $("#chartContainer").ready(graphLoader);
  $("#chartContainer").on('turbolinks:load', graphLoader)
</script>