<center> <h1> Calculate Combo Odds </h1> </center>

<button id="add-card-inputs" class="btn-sm margin-3em-top-4em-bottom", value = "1" > 
  Add Another Card
</button>

<%= form_with url: "/decks/calculate_custom_hands_odds", class: "calculate-odds", method: 'POST' do | f | %> 
    
    <div> 
      <%= f.label :Deck_Size %> 
      <%= f.number_field :deck_size, value: 60, min: 10, max: 99 %>
      <br>
      <br>
    </div>

    <table id="odds-input-table">

      <thead>
        <tr>
          <th> <center> Copies in Deck </center> </th>
          <th> <center> Copies Needed </center> </th>
          <th> <center> Card Name </center> </th>
        </tr>
      </thead>

      <tbody>
        <tr id="tr-0">
          <td> <%= f.number_field "in_deck_0", class: "input-sm", required: true, style: "text-align: center", min: 0 %> </td>
          <td> <%= f.number_field "in_hand_0", class: "input-sm", required: true, style: "text-align: center", min: 0 %> </td>
          <td> <%= f.text_field "card_name_0", class: "input-sm", style: "text-align: center" %> </td>
        </tr>

        <tr id="tr-1">
          <td> <%= f.number_field "in_deck_1", class: "input-sm", style: "text-align: center", min: 0 %> </td>
          <td> <%= f.number_field "in_hand_1", class: "input-sm", style: "text-align: center", min: 0 %> </td>
          <td> <%= f.text_field "card_name_1", class: "input-sm", style: "text-align: center" %> </td>
        </tr>
      </tbody>

    </table>

    <input type="hidden" name="results" value="1"></input>
    
    <div class = "margin-3em-top-4em-bottom" > 
      <%= f.label "Cards Drawn:" %> 
      <%= f.number_field :cards_drawn, value: 7, min: 1, max: 15 %>
    </div>

    <%= f.submit "Calculate Odds" %>
    
    <h2> 
      Odds of this exact combo: <h4 id="odds-results"> </h4>
    </h2>
  

    <h1> <%= f.button "Clear Form", class: 'btn-lg clear-form' %> </h1> 
<% end %>