<div class='modal fade' id="loginModalCenter" tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='login-modal-content'>
      <div class='modal-header'>
        <h1 class='text-center'> Sign in </h1>

        <h3 id='loginError'></h3>
        
        <div class='text-center'>
          <%= form_for :user, remote: true, url: url_for(controller: 'sessions', action: 'create'), html: { id: 'loginForm' } do |f| %>
            <h5>
              <div> <%= f.label :name %> </div>            
              <%= f.text_field :name, id: 'login_name', autocomplete: 'user', required: true %>
            </h5>
            
            <h5>
              <div> <%= f.label :password %> </div>
              <%= f.password_field :password, id: 'login_password', required: true %>
            </h5>

            <div class="margin-top-30 margin-bottom-20">
              <%= f.submit "Log in" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>