<h5 class = "navbar"> 
  <%= link_to "Sign Up", "#", 'data-toggle': "modal", 'data-target': "#signupModalCenter" unless logged_in? %>
  <%= link_to "Log In", "#", 'data-toggle': "modal", 'data-target': "#loginModalCenter" unless logged_in? %>
  <%= link_to "Home", root_path unless current_page?(root_path) %>  

  <div class="drop-down">
    <a class="drop-button">Tools &#9660</a>
    <div class="drop-down-content">
      <%= link_to "Calculator", "/hand_odds_calculator" %>
      <%= link_to "Generate Booster Packs", "/editions/open_booster_pack" %>
    </div>
  </div> 
 
  <%= link_to "My Decks", decks_path if logged_in? %>
  <%= link_to "My Collections", collections_path if logged_in? %>
  <%= link_to "Find Cards by Property", "/cards/find_by_properties" %>
  <%= link_to "About", "/about" %>
  <%= link_to "Log Out", "/logout", method: :delete if logged_in? %>
  
  <span class="account-settings"> 
    <%= link_to("Account Settings", user_path(current_user)) if logged_in? %> 
  </span>

  <%= render "layouts/search_bar" %>
  <%= render "layouts/login_modal" unless logged_in? %>
  <%= render "layouts/signup_modal" unless logged_in? %>
</h5>