<div class='modal fade' id="signupModalCenter" tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='signup-modal-content'>
      <div class='modal-header'>
        <h1 class='text-center margin-bottom-20'> Sign up </h1>

          <h5 id='signupError'></h5>

          <%= form_for :user, remote: true, url: url_for(controller: 'users', action: 'create'), html: { id: 'signupForm' } do | f | %>
            <h5>
              <div><%= f.label :name %></div>
              <div><%= f.text_field :name, required: true %></div>
            </h5>

            <h5>
              <div><%= f.label :email %></div>
              <div><%= f.text_field :email %></div>
            </h5>

            <h5>
              <div><%= f.label :password %></div>
              <div><%= f.password_field :password, required: true %></div>
            </h5>

            <h5>
              <div><%= f.label :password_confirmation, "Verify Password" %></div>
              <div><%= f.password_field :password_confirmation, required: true %></div>
            </h5>
          <div class="margin-top-40 margin-bottom-20">
            <%= f.submit 'Create Account' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>