<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> 
      <%= content_for?(:title) ? yield(:title) : 'MTG Calalogue' %> 
    </title>

    <meta charset="utf-8">
    <meta name="description" content="Magic: The Gathering Catalogue and Deck Builder">
    <meta name="author" content="Daniel Lempesis">

    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= yield %>
  </body>
</html>
