<!DOCTYPE html>
<html>
  <head>
    <title> 
      <%= content_for?(:title) ? yield(:title) : 'MTG Calalogue' %> 
    </title>

    <%= favicon_link_tag asset_path('card_back.ico'), rel: 'icon', type: 'image/x-icon' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= yield %>
  </body>
</html>
